In [1]:
import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기

In [3]:
df = pd.DataFrame([[15, '남', '덕영중'],[17, '여', '수리중']],
                  index=['준석', '예은'],
                  columns=['나이', '성별', '학교'])

# 행, 인덱스, 열 이름 확인하기

In [4]:
print(df)

    나이 성별   학교
준석  15  남  덕영중
예은  17  여  수리중

# 행 인덱스/열 이름 변경

In [5]:
df = df.rename(columns={'나이': '연령', '성별': '남녀', '학교': '소속'})

# df 출력(변경 후)

In [6]:
print(df)

    연령 남녀   소속
준석  15  남  덕영중
예은  17  여  수리중

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기

In [7]:
df = df.rename(index={'준석':'학생1', '예은':'학생2'})

# df 출력

In [8]:
print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중