In [1]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

In [5]:
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95], '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

# 데이터프레임 df를 복제하여 변수 df2에 저장, df2의 1개 행(row) 삭제

In [7]:
df2 =df.copy()
df2 = df2.drop('우현', axis=0)
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row) 삭제

In [8]:
df3 = df.copy()
df3 = df3.drop(['우현', '인아'], axis=0)
print(df3)

    수학  영어  음악   체육
서준  90  98  85  100

# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 2개 행(row) 삭제

In [9]:
df4 = df.copy()
df4 = df4.drop(['우현', '인아'], axis='index')
print(df4)

    수학  영어  음악   체육
서준  90  98  85  100

# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 1개 행(row) 삭제

In [10]:
df5 = df.copy()
df5 = df5.drop(index=['우현'])
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90